<template>
  <v-card>
    <v-card-title>
      <v-row>
        <v-col cols="12" sm="6" md="6">
          <v-text-field label="search" prepend-icon="search" v-model="search" clearable @click:clear="search = ''"></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="6">
          <v-dialog
            ref="dialog"
            v-model="modal"
            :return-value.sync="date"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="dateRangeText"
                label="Picker in dialog"
                prepend-icon="event"
                clearable @click:clear="date = []"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="date" range :max="new Date().toISOString().substr(0, 10)">
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-col>
      </v-row>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :options.sync="options"
      :server-items-length="totalItems"
      show-select
      item-key="id"
      v-model="selected"
      :footer-props="{
        'showFirstLastPage': true,
        'items-per-page-options' : itemsPerPageOptions
      }"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.jobs}}</td>
        <td>{{ props.item.created_at }}</td>
        <td>{{ props.item.updated_at }}</td>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
  import { mapActions } from 'vuex'
  export default {
    data () {
      return {
        search: '',
        selected: [],
        date: [],
        menu: false,
        modal: false,
        loading: true,
        headers: [
          { text: 'Jobs', value: 'jobs' },
          { text: 'Created At', value: 'created_at' },
          { text: 'Updated At', value: 'updated_at' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
      }
    },
    watch: {
      options: {
        handler () {
          this.retrieveTodos({
            search: this.search,
            startDate: this.date[0],
            endDate: this.date[1]
          })
        },
        deep: true,
      },
      search() {
        this.retrieveTodos({
          search: this.search,
          startDate: this.date[0],
          endDate: this.date[1]
        })
      },
      date() {
        this.retrieveTodos({
          search: this.search,
          startDate: this.date[0],
          endDate: this.date[1]
        })
      },
    },
    computed: {
      options: {
        get: function () {
          return this.$store.getters.options
        },
        set: function (value) {
          this.$store.commit('setPagination', value)
        }
      },
      dateRangeText () {
        return this.date
      },
      items () {
        return this.$store.getters.todos
      },
      totalItems () {
        return this.$store.getters.totalTodos
      },
      itemsPerPageOptions () {
        return this.$store.getters.itemsPerPageOptions
      },
    },
    methods: {
      ...mapActions(['queryItems', 'retrieveTodos']),
      deleteItem(item) {
        alert(item)
      },
      editItem(item) {
        alert(item)
      }
    },
  }
</script>