<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <div class="px-2">
          <h2>To enable server-side search to work don't pass the <code>search</code> prop to v-data-table</h2>
          <v-row>
            <v-col cols="12" sm="6" md="6">
              <v-text-field label="search" prepend-icon="search" v-model="search"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="dateRangeText"
                    label="Picker in dialog"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" range>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>
          <v-data-table :headers="headers"
                        :items="items"
                        :server-items-length="pagination.totalItems"
                        :items-per-page="pagination.rowsPerPage"
                        :options="pagination"
                        :footer-props="{
                          showFirstLastPage: true,
                          firstIcon: 'mdi-arrow-collapse-left',
                          lastIcon: 'mdi-arrow-collapse-right',
                          prevIcon: 'mdi-minus',
                          nextIcon: 'mdi-plus'
                        }"
                        class="elevation-4">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.jobs }}</td>
              </template>
          </v-data-table>
          <!-- <pre>{{ pagination }}</pre> -->
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'HelloWorld',
    data: () => ({
      headers: [
        { text: "Name", value: "jobs", sortable: true},
        { text: "Created", value: "created_at", }
      ],
      search: '',
      date: [],
      menu: false,
      modal: false,
    }),
    computed: {
      ...mapGetters(['items']),
      dateRangeText () {
        return '2019-09-10 ~ 2019-09-20'
      },
      pagination: {
        get() {
          return this.$store.getters.pagination
        },
        set(val) {
          this.$store.commit('setPagination', val)
        }
      },
    },
    watch: {
      pagination: {
        handler() {
          this.retrieveTodo({
            search: this.search,
            startDate: this.date[0],
            endDate: this.date[1]
          })
        },
        deep: true
      },
      search() {
        this.retrieveTodo({
          search: this.search,
          startDate: this.date[0],
          endDate: this.date[1]
        })
      },
      date() {
        this.retrieveTodo({
          search: this.search,
          startDate: this.date[0],
          endDate: this.date[1]
        })
      },
    },
    created () {
      this.retrieveTodo();
    },
    methods: {
      ...mapActions(['retrieveTodo']),
    },
  }
</script>
